h1 {
    text-align: center;
    font-family: 'Sanchez', serif;
}
p {
    font-family: 'Zilla Slab', serif;
}

body { 
    background: linear-gradient( 
    /*top*/
    rgba(0, 0, 0, 0.5), 
    /*bottom*/
    rgba(0, 0, 0, 0.5)), 
    /*URL*/
    url(
    'images/hstat_logo.jpg'
    );
    background-repeat: no-repeat;
    background-size: cover;
    color: 	#D3D3D3;
    }
    
html {
    height: 100%;
}
.footer{
    text-align: center;
    margin: auto;
    width: 95%;
    padding:10px;
    position: absolute;
    bottom: 20px;
}
.image { 
    max-width: 120px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sponsor {
    text-align: center;
}

#sponsorname {
    text-align: center;
    font-weight: bold;
}

#button {
    color: blue;
}

