h1 {
    text-align: center;
    font-family: 'Sanchez', serif;
}
p {
    font-family: 'Zilla Slab', serif;
}

body { 
    background: linear-gradient( 
    /*top*/
    rgba(0, 0, 0, 0.5), 
    /*bottom*/
    rgba(0, 0, 0, 0.5)), 
    /*URL*/
    url(
    'images/hstat_logo.jpg'
    );
    background-repeat: no-repeat;
    background-size: cover;
    }
    
html {
    height: 100%;
}

.image { 
    max-width: 150px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

.sponsor {
    text-align: center;
}

.box3 {
    text-align: center;
}

#sponsorname {
    text-align: center;
    font-weight: bold;
}

#button {
    color: blue;
}

