.box1 {
    background:;
}
.box2 {
    background: ;
}
.box3 {
    background: ;
}
h1 {
    text-align: center;
    font-family: 'Sanchez', serif;
}
body {
    background:;
}
p {
    font-family: 'Zilla Slab', serif;
}
#button {
    : blue;
}
.image { 
    max-width: 150px;
    border-radius: 10000px;
    background: blue;
    position: center;
    
}
.sponsor {
    text-align: center;
}